.place__website {
    max-width: 456px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media screen and (max-width: 1023px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    max-width: 288px;
    margin-bottom: 32px;
  }
}

