.place__list-item {
  padding-bottom: 26px;
}

.place__list-item:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place__list-item {
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 1023px) {
  .place__list-item {
    padding-bottom: 25px;
  }
}

